.footer__container {
    width: 90%;
    margin: 0 auto;
  }
  @media (min-width: 1600px) {
    .footer__container {
      width: 1600px;
    }
}
  

.footer {
    background: #705A66;
    padding-bottom: 90px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    padding-left: 0;
    padding-top: 164px;
    // padding-bottom: 100px;
}

.footer__info-item {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.94px;
    color: #F5F7F8;
    // Remove opacity
    opacity: 0.4;
    padding: 10px 0;
}

.footer__logo {
    padding-top: 88px;
    margin: 0 auto;
    display: flex;
}

.footer__logo-image {
    width: 255px;
    height: 201px;
}

.footer__image{
    width: 34px;
    height: 34px;
    margin-bottom: 32px;
}

.footer__socials {
    padding-top: 144px;
}

.footer__social-list {
    padding-left: 0;
    display: flex;
    gap: 40px;
}

.footer__info-link{
    text-decoration: none;
    color: inherit;
    padding-left: 0;
    transition: all 0.3s ease;
    &:hover{
        color: #1e1e20;
    }
}


@media (max-width: 760px) {
    .footer__social-list {
        gap: 20px;
    }
}

@media (max-width: 680px) {
    .footer__content {
        display: block;
        text-align: center;
    }
    .footer__logo{
        justify-content: center;

    }
    .footer__social-list{
        justify-content: center;
    }
}