body {
    background-color: #eff1f2;
}

.authors-container {
    width: 100%;
    margin: 0 auto;
    background-color: #eff1f2;


}

.authors {
    margin-bottom: 100px;

    &__item {
        flex-direction: column;

        &__back {
            z-index: 1;
            margin-top: -400px;
            width: 831px;
            height: 521px;
            flex-shrink: 0;
        }

        &__text {
            z-index: 2;

            h2 {
                color: #705A66;
                font-family: Moniqa;

                font-size: 226.448px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                margin-left: 570px;
                margin-top: 100px;
            }

            p {
                color: #705A66;
                margin-left: 1150px;
                font-family: Montserrat;
                font-size: 24px;

                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 0.48px;
                text-transform: uppercase;
            }
        }

        &__btn {
            width: 394px;
            z-index: 2;
            height: 67px;
            flex-shrink: 0;
            border-radius: 10px;
            background: #F5EEE0;
            color: #705A66;
            text-align: center;
            justify-content: center;
            display: block;
            margin: 0 auto;
            font-family: Montserrat;
            font-size: 24px;
            border: none;
            margin-top: 220px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
        }

        &__social {
            flex-direction: column;
            gap: 20px;
            margin-left: 1600px;
            bottom: 100px;

            img {
                width: 24px;
                height: 24px;

            }
        }
    }
}

.cakes-container {
    width: 90%;
    border: 1px solid #eff1f2;
    margin: 0 auto;
    background-color: #eff1f2;
    margin-bottom: 700px;

}

.cakes {
    background-color: #F5F7F8;

    &__items {
        position: absolute;
        flex-wrap: wrap;

        &__one {
            margin-left: 150px;

            img {
                width: 605px;
                height: 253px;
                flex-shrink: 0;
            }

            &__btn {
                width: 276px;
                position: relative;
                bottom: 50px;
                left: 150px;
                border: #F5EEE0;
                height: 67px;
                flex-shrink: 0;
                border-radius: 10px;
                background: #F5EEE0;

                span {
                    color: #705A66;

                    text-align: center;
                    font-family: Montserrat;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
        }

        &__two {
            padding-left: 30px;

            img {
                width: 605px;
                height: 253px;
                flex-shrink: 0;
            }

            &__btn {
                width: 276px;
                position: relative;
                bottom: 50px;
                left: 150px;
                border: #F5EEE0;
                height: 67px;
                flex-shrink: 0;
                border-radius: 10px;
                background: #F5EEE0;

                span {
                    color: #705A66;

                    text-align: center;
                    font-family: Montserrat;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
        }

        &__three {
            margin-left: 150px;

            img {
                width: 605px;
                height: 253px;
                flex-shrink: 0;
            }

        }

        &__four {
            padding-left: 30px;

            img {
                width: 605px;
                height: 253px;
                flex-shrink: 0;
            }

            &__btn {
                width: 276px;
                position: relative;
                bottom: 50px;
                left: 150px;
                border: #F5EEE0;
                height: 67px;
                flex-shrink: 0;
                border-radius: 10px;
                background: #F5EEE0;

                span {
                    color: #705A66;

                    text-align: center;
                    font-family: Montserrat;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.cssbuttons-io-button {
    background: #F5EEE0;
    color: #705A66;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    width: 300px;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    left: 150px;
    bottom: 50px;
    height: 67px;
    border: #F5EEE0;
    flex-shrink: 0;
    border-radius: 10px;
    justify-content: center;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #F5EEE0;
    overflow: hidden;
    position: relative;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: #705A66;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #F5EEE0;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #F5EEE0;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

.bestseller-container {
    width: 100%;
     margin: 0 auto;
    background-color: #eff1f2;
}

.bestseller {
    &__items {
        &__title {
            color: #705A66;
            font-family: Moniqa;
            font-size: 100px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-align: center;
        }

        &__arrow {
            gap: 32px;
            margin-top: 4px;
            display: flex;
            margin-left: 1200px;

            button {
                border: none;
            }

            img {
                width: 76px;
                height: 27px;

            }
        }

        &__cards {
            gap: 32px;
            margin-left: 200px;
            margin-top: 63px;

            &__one {
                img {
                    width: 393px;
                    height: 393px;
                }

                &__text {
                    .text {
                        padding-top: 20px;
                        width: 288px;

                        h5 {
                            color: #705A66;
                            font-family: Montserrat;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                        }

                        p {
                            color: #705A66;

                            font-family: Montserrat;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                        }
                    }

                    .busket {
                        margin-top: 20px;
                        margin-left: 75px;

                        button {
                            border: #F5EEE0;
                        }

                        img {
                            width: 30px;
                            height: 30px;
                        }


                    }
                }
            }

        }

        &__btn {
            width: 604px;
            height: 67px;
            flex-shrink: 0;
            border-radius: 10px;
            background: #F5EEE0;
            border: none;
            color: #705A66;
            text-align: center;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            justify-content: center;
            margin: 0 auto;
            display: block;
            margin-top: 88px;
            margin-bottom: 120px;
        }
    }

}

@media (max-width:480px) {
    .authors-container {
        width: 480px;

    }

    .authors {
        margin-bottom: 100px;
        width: 480px;
        &__item {
            &__back {
                margin-top: -300px;
                width: 404px;
                height: 340px;
            }

            &__text {
                h2 {
                    margin-left: 35px;
                    text-align: center;
                    margin-top: 100px;

                    font-size: 110px;

                }

                p {

                    margin-left: 170px;
                    font-size: 18px;
                    letter-spacing: 0.36px;

                }
            }

            &__btn {
                width: 355px;
                height: 67px;
                font-size: 18px;
               
                margin-top: 250px;

            }

            &__social {
            
                gap: 20px;
                margin-left: 450px;
              margin-top: -280px;

            }
        }
    }
    .cakes-container {
        width: 480px;
        margin-bottom: 1500px;
        margin-top: 300px;
    
  
    
        &__items {
    
            &__one {
                margin-left: 30px;
    
                img {
                    width: 355px;
                    height: 149px;
                   
                }
    
                &__btn {
                
                   
                    bottom: 50px;
                    left: 150px;
         
                    height: 67px;
    
                    span {
                        font-size: 18px;
                    }
                }
            }
    
            &__two {
                padding-left: 30px;
    
                img {
                       width: 355px;
                    height: 149px;
                }
    
                &__btn {
                    bottom: 50px;
                    left: 150px;
         
                    height: 67px;
    
                    span {
                        font-size: 18px;
                    }
                }
            }
    
            &__three {
                margin-left: 150px;
    
                img {
                    width: 355px;
                    height: 149px;
                }
    
            }
    
            &__four {
                padding-left: 30px;
    
                img {
                    width: 355px;
                    height: 149px;
                }
    
                &__btn {
                    bottom: 50px;
                    left: 150px;
         
                    height: 67px;
    
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    
    .cssbuttons-io-button {
     
        font-size: 18px;
        width: 276px;
        left: 150px;
        bottom: 50px;
    }
    .bestseller-container {
        width: 480px;
    }
    
    .bestseller {
        &__items {
            &__title {
                padding-left: 50px;
                font-size: 80px;
               
            }
    
            &__arrow {
                display: none;
            
            }
    
            &__cards {
                gap: 24px;
                flex-direction: column;
                margin-left: 90px;
            
    
                &__one {
                    img {
                        width: 393px;
                        height: 393px;
                    }
    
                    &__text {
                        .text {
                            padding-top: 20px;
                            width: 288px;
    
                            h5 {
                                font-size: 18px;
                            }
    
                            p {
                                font-size: 16px;
                            }
                        }
    
                        .busket {
                            margin-top: 20px;
                            margin-left: 75px;
    
                            button {
                                border: #F5EEE0;
                            }
    
                            img {
                                width: 30px;
                                height: 30px;
                            }
    
    
                        }
                    }
                }
    
            }
    
            &__btn {
                width: 355px;
                font-size: 18px;
                margin-left: 100px;
                margin-top: 68px;
                margin-bottom: 120px;
            }
        }
    
    }
}
@media ((min-width: 480px) and (max-width:844px)) {
    .authors-container {
        width: 800px;

    }

    .authors {
        width: 800px;
        &__item {
            &__back {
                width: 500px;
                height: 400px;
            }

            &__text {
                h2 {
                    margin-left: 305px;

                    font-size: 110px;

                }

                p {
                      margin-left: 530px;
                    font-size: 18px;
                }
            }

            &__btn {
                width: 355px;
                height: 67px;
                font-size: 18px;
                margin-top: 250px;

            }

            &__social {
            
                gap: 20px;
                margin-left: 770px;
              margin-top: -80px;

            }
        }
    }
    .cakes-container {
        width: 800px;
        margin-bottom: 1500px;
      
    
  
    
        &__items {
    flex-wrap: wrap;
            &__one {
                margin-left: 30px;
    
                img {
                    width: 355px;
                    height: 149px;
                   
                }
    
                &__btn {
                
                   
                    bottom: 50px;
                    left: 150px;
         
                    height: 67px;
    
                    span {
                        font-size: 18px;
                    }
                }
            }
    
            &__two {
                padding-left: 30px;
    
                img {
                       width: 355px;
                    height: 149px;
                }
    
                &__btn {
                    bottom: 50px;
                    left: 150px;
         
                    height: 67px;
    
                    span {
                        font-size: 18px;
                    }
                }
            }
    
            &__three {
                margin-left: 150px;
    
                img {
                    width: 355px;
                    height: 149px;
                }
    
            }
    
            &__four {
                padding-left: 30px;
    
                img {
                    width: 355px;
                    height: 149px;
                }
    
                &__btn {
                    bottom: 50px;
                    left: 150px;
         
                    height: 67px;
    
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    
    .cssbuttons-io-button {
     
        font-size: 18px;
        width: 276px;
        left: 150px;
        bottom: 50px;
    }
    .bestseller-container {
        width: 800px;
    }
    
    .bestseller {
        &__items {
            &__title {
                padding-left: 5px;
                font-size: 110px;
               
            }
    
            &__arrow {
    display: none;
            
            }
    
            &__cards {
                gap: 24px;
                flex-direction: column;
                margin-left: 20px;
            
    
                &__one {
                    img {
                        width: 750px;
                        height: 600px;
                    }
    
                    &__text {
                        .text {
                            padding-top: 20px;
                            width: 600px;
    
                            h5 {
                                font-size: 30px;
                            }
    
                            p {
                                font-size: 25px;
                            }
                        }
    
                       
                    }
                }
    
            }
    
            &__btn {
                width: 355px;
                font-size: 18px;
                margin-left: 100px;
                margin-top: 68px;
                margin-bottom: 120px;
            }
        }
    
    }
}