.bestseller-container {
  width: 480px;
}

.bestseller {
  &__items {
      &__title {
          padding-left: 50px;
          font-size: 80px;
         
      }

      &__arrow {
          display: none;
          &__leftBtn{
            width: 76px;
            height: 27px;
            border-radius: 22px;
            border: 1px solid #705A66
          }
      }

      &__cards {
          gap: 24px;
          flex-direction: column;
          margin-left: 90px;
      

          &__one {
              img {
                  width: 393px;
                  height: 393px;
              }

              &__text {
                  .text {
                      padding-top: 20px;
                      width: 288px;

                      h5 {
                          font-size: 18px;
                      }

                      p {
                          font-size: 16px;
                      }
                  }

                  .busket {
                      margin-top: 20px;
                      margin-left: 75px;

                      button {
                          border: #F5EEE0;
                      }

                      img {
                          width: 30px;
                          height: 30px;
                      }


                  }
              }
          }

      }

      &__btn {
          width: 355px;
          font-size: 18px;
          margin-left: 100px;
          margin-top: 68px;
          margin-bottom: 120px;
      }
  }

}