.bestseller-container {
  width: 480px;
}

.bestseller {
  &__items {
    &__title {
      padding-left: 50px;
      font-size: 80px;
    }

    &__arrow {
      &__leftBtn {
        width: 76px;
        height: 27px;
        border-radius: 22px;
        border: 1px solid #705a66;
      }
    }

    &__cards {
      gap: 24px;
      flex-direction: column;
      margin-left: 90px;

      &__one {
        img {
          width: 393px;
          height: 393px;
        }

        &__text {
          .text {
            padding-top: 20px;
            width: 288px;

            h5 {
              font-size: 18px;
            }

            p {
              font-size: 16px;
            }
          }

          .busket {
            margin-top: 20px;
            margin-left: 75px;


            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }

    &__btn {
      width: 355px;
      font-size: 18px;
      margin-left: 100px;
      margin-top: 68px;
      margin-bottom: 120px;
    }
  }
}

@media (min-width: 480px) and (max-width:844px){
  .bestseller-container {
    width: 800px;
}
}
@media (max-width: 480px) {
  .bestseller {
    &__items {
      &__title {
        padding-left: 5px;
        font-size: 110px;
      }

      &__arrow {
        display: none;
      }

      &__cards {
        gap: 24px;
        flex-direction: column;
        margin-left: 20px;

        &__one {
          img {
            width: 750px;
            height: 600px;
          }

          &__text {
            .text {
              padding-top: 20px;
              width: 600px;

              h5 {
                font-size: 30px;
              }

              p {
                font-size: 25px;
              }
            }
          }
        }
      }

      &__btn {
        width: 355px;
        font-size: 18px;
        margin-left: 100px;
        margin-top: 68px;
        margin-bottom: 120px;
      }
    }
  }
}
