.cakes-container {
    width: 90%;
    border: 1px solid red;
    margin: 0 auto;
}

.cakes {
    &__items {
        &__one {
            img {
                width: 605px;
                height: 253px;
                flex-shrink: 0;
            }
        }

        &__two {
            img {
                width: 605px;
                height: 253px;
                flex-shrink: 0;
            }
        }

        &__three {
            img {
                width: 605px;
                height: 253px;
                flex-shrink: 0;
            }
        }

        &__four {
            img {
                width: 605px;
                height: 253px;
                flex-shrink: 0;
            }
        }
    }
}