.thank-you-image {
  margin: 120px 613px 24px 613px;
}

.thank-you-list-item__title {
  color: #705A66;
  text-align: center;
  font-family: 'Moniqa', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: -23px;
}

.thank-you-list-item__paragraph {
  color: #705A66;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.thank-you-list-item__check {
  color: #705A66;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.thank-you-block__list {
  padding-top: 40px;
  padding-left: 48px;
}

.thank-you-block-list__item {
  gap: 147px;
}

.thank-you-block-list-item__paragraph_1 {
  color: #705A66;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.thank-you-block-list-item__paragraph {
  color: #705A66;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.thank-you-block {
  width: 489px;
  height: 170px;
  background: #F5EEE0;
  align-items: center;
  margin: 0 auto;
}

.footer-wrapper {
  margin-top: 457px;
  margin-left: 368px;
  margin-bottom: 72px;
}


.footer-wrapper__button-1 {
  width: 393px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F5EEE0;
  padding: 19px 116px;
  text-transform: uppercase;
  color: #705A66;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;

}

.footer-wrapper__button-2 {
  width: 393px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #705A66;
  padding: 19px 40px;
  text-transform: uppercase;
  color: #F5EEE0;


  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 32px;
}