<section>
    <main>
        <section class="section-1">
            <div class="container">
                <p class="section-1-text">Продовжити покупки</p>
                <h1 class="h1">Оформлення замовлення</h1>
            </div>
        </section>
        <section class="section-2">
            <div class="container">
                <h2 class="h2">Контакти:</h2>
                <ul class="contact-cards">
                    <li><input class="contact-card" placeholder="Ім’я" type="text"></li>
                    <li><input class="contact-card" placeholder="Номер телефону" type="text"></li>
                    <li><input class="contact-card" placeholder="E-mail" type="text"></li>
                    <li><input class="contact-card" placeholder="Дата доставки" type="text"><img src=""
                            alt="calendar-icon">
                    </li>
                </ul>
                <div>
                    <h3 class="order-heading">Ваше замовлення:</h3>
                    <h4 class="order-item">Торт “Наполеон”</h4>
                    <p class="order-price">750 грн</p>
                    <img src="" alt="closing-cross">
                </div>
            </div>
        </section>
        <section class="section-3">
            <div class="container">
                <h2 class="h2">Спосіб доставки</h2>
                <Label>
                    <input class="delivery-method" type="radio" name="delivery"
                    value="Самовивіз з Печерського р-ну, м. Київ.">
                    Самовивіз з Печерського р-ну, м. Київ.
                </Label>
                <label>
                    <input class="delivery-method" type="radio" name="delivery"
                    value="На таксі (за тарифами служби таксі)" checked>
                    На таксі (за тарифами служби таксі) 
                </label>
                    <details class="opening-menu">
                    <summary class="opening-menu-heading">Місто</summary>
                    <ul class="delivery-cards">
                        <li><input class="delivery-card" type="text" placeholder="Вулиця"></li>
                        <li><input class="delivery-card" type="text" placeholder="Під’їзд"></li>
                        <li><input class="delivery-card" type="text" placeholder="Квартира"></li>
                        <li><input class="delivery-card" type="text" placeholder="Будинок"></li>
                        <li><input class="delivery-card" type="text" placeholder="Корпус"></li>
                        <li><input class="delivery-card" type="text" placeholder="Поверх"></li>
                    </ul>
                </details>
            </div>
        </section>
        <section class="section-4">
            <div class="container">
                <h2 class="h2">Спосіб оплати</h2>
                <input class="paying-method" type="radio" name="pay" placeholder="Готівка" checked>
                <input class="paying-method" type="radio" name="pay" placeholder="Liqpay">
                <textarea class="comment" placeholder="Додати коментар" name="" id="" cols="30"
                    rows="10"></textarea>
            </div>
        </section>
        <section class="secion-5">
            <div class="container">
                <h2 class="h2">Всього до сплати:</h2>
                <p class="total-price">750 грн</p>
                <button class="order">Оформити замовлення</button>
            </div>
        </section>
    </main>
</section>