<ul class="tank-you-list">
  <li class="thank-you-list__item">
    <img src="./images/napaleon.png" alt="Napaleon" class="thank-you-image">
    <h1 class="thank-you-list-item__title">Дякую за замовлення!</h1>
    <p class="thank-you-list-item__paragraph">Ваше замовлення прийняте в обробку та незабаром<br> вам зателефонує
      менеджер для уточнення деталей</p>
    <p class="thank-you-list-item__check">Чек замовлення: V1StGXR8_Z5jdHi6B-myT</p>
  </li>
  <div class="thank-you-block">
    <ul class="thank-you-block__list">
      <li class="thank-you-block-list__item">
        <p class="thank-you-block-list-item__paragraph_1">Ваше замовлення:</p>
      </li>
      <li class="thank-you-block-list__item flex">
        <p class="thank-you-block-list-item__paragraph">Торт “Наполеон”</p>
        <p class="thank-you-block-list-item__paragraph">750 грн</p>
      </li>
    </ul>
  </div>
  <div class="footer-wrapper">
    <ul class="footer-wrapper__list">
      <li class="footer-wrapper-list__item">
        <a href="#" class="footer-wrapper__button-1">
          На головну
        </a>
        <a href="#" class="footer-wrapper__button-2">
          продовжити покупки
        </a>
      </li>
    </ul>
  </div>
</ul>