<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unnamed</title>
  <link rel="stylesheet" href="css/n.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="aos/aos.css">
  <link rel="shortcut icon" href="#" type="image/png">
</head>

<body>
  <footer class="footer">
    <div class="container">
      <div class="footer__content">
        <ul class="footer__info">
          <li class="footer__info-item"><a class="footer__info-link" href="https://rb.gy/bks1jl" target="_blank">с. Хотів, вул. Партизанська 1А</a></li>
          <li class="footer__info-item">Email: <a class="footer__info-link" href="mailto:kostromaganna@gmail.com">kostromaganna@gmail.com</a></li>
          <li class="footer__info-item">Tel: <a class="footer__info-link" href="tel:+380999876240">+38(099) 987 62 40</a></li>
        </ul>
        <div class="footer__logo">
          <img class="footer__logo-image" src="./img/section-footer/logo.png" alt="logo">
        </div>
        <div class="footer__socials">
          <ul class="footer__social-list">
            <li><a class="footer__info-link" href="https://www.instagram.com"><img src="./img/section-footer/instagram.svg" alt="instagram"></a></li>
            <li><a class="footer__info-link" href="https://t.me"><img src="./img/section-footer/telegram.svg" alt="telegram"></a></li>
            <li><a class="footer__info-link" href="viber://add?number=+380999876240"><img src="./img/section-footer/viber.svg" alt="viber"></a></li>
          </ul>
          <ul class="footer__info-links">
            <li class="footer__info-item"><a class="footer__info-link" href="#">Політика конфіденційності</a></li>
            <li class="footer__info-item"><a class="footer__info-link" href="#">Договір оферти</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>  
  <script src="aos/aos.js"></script>
  <script>
    AOS.init()
  </script>
</body>

</html>