<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header"></header>
    <div class="container">
      <ul class="header-list flex">
        <li class="header-list__item">
          <a href="#" class="header-list__item-link">Каталог</a>
        </li>
        <li class="header-list__item">
          <a href="#" class="header-list__item-link">Про мене</a>
        </li>
        <li class="header-list__item">
          <a href="index.html"><img src="./images/logoGrann.svg" alt="logo" class="header_list__item-img"></a>
        </li>
        <li class="header-list__item">
          <a href="#" class="header-list__item-link">Доставка</a>
        </li>
        <li class="header-list__item">
          <a href="#" class="header-list__item-link">Контакти</a>
        </li>
        <li class="header-list__item">
          <img src="./images/Vector.svg" alt="urna" class="header_list__item-img-2">
        </li>
      </ul>
    </div>
  </header>
</body>
</html>