<section class="productPage">
    <div class="container">
        <div class="photo-slider">
            <!-- Большое фото сверху -->
            <div class="main-photo">
                <img id="mainPhoto" src="/img/product-page/cake.png" alt="Главное фото">
            </div>

            <!-- Слайдер миниатюр с стрелками -->
            <div class="thumbnails-slider">
                <span class="arrow left-arrow" onclick="prevThumbnail()"><img class="arrow" src="/img/product-page/iconleft.svg"
                        alt="arrowright"></span>

                <div class="thumbnails">
                    <img class="thumbnail" src="/img/product-page/1.png" alt="Миниатюра 1" onclick="setMainPhoto(0)">
                    <img class="thumbnail" src="/img/product-page/2.png" alt="Миниатюра 2" onclick="setMainPhoto(1)">
                    <img class="thumbnail" src="/img/product-page/3.png" alt="Миниатюра 3" onclick="setMainPhoto(2)">
                </div>

                <span class="arrow right-arrow" onclick="nextThumbnail()"><img class="arrow" src="/img/product-page/iconright.svg"
                        alt="arrowrleft"></span>
            </div>
        </div>
        <div class="buy-container">
            <div class="h1-container">
                <h1>Торт “Наполеон”</h1>
            </div>
            <div>
                <ul class="list-list">
                    <li>ніжний заварний крем</li>
                    <li>ароматні коржі</li>
                    <li>ягоди</li>
                </ul>
                </div>
                <div class="dropdown-container">
                    <select name="view" id="view" >
                        <option value="" class="option">Вид</option>
                        <option value="vanilla" class="option">Ванільний наполеон</option>
                        <option value="caramel" class="option">Карамельний наполеон</option>
                        <option value="Lactose-free" class="option">Безлактозний наполеон</option>
                        <option value="sugar free" class="option">Наполеон без цукру</option>
                        <option value="sugar and gluten free" class="option">Наполеон без глютену та цукру</option>
                    </select>
                </div>
                
                <div class="dropdown-container">
                    <select name="Decor" id="Decor">
                        <option value="" class="option">Декор</option>
                        <option value="no sugar`" class="option">Без декору</option>
                        <option value="Berries`" class="option">Ягоди</option>
                        <option value="No-caramel`" class="option">Карамель</option>
                        <option value="sugar free`" class="option">Наполеон без цукру</option>
                    </select>
                </div>
                
                <div class="dropdown-container">
                    <select name="Product-weight" id="Product-weight">
                        <option value="">Вага виготовленого виробу</option>
                        <option value="0.5">0,5 кг</option>
                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="2.5">2.5</option>
                        <option value="3">3</option>
                    </select>
                    <!-- <button class="dropdown-btn dropdown-btn-text" onclick="toggleDropdown('dropdownList3', this)">Вага готового виробу <span class="arrow" style="margin-left: 56px;">&#8744;</span></button>
                    <ul class="dropdown-list" id="dropdownList3">
                        <li>Элемент 3.1</li>
                        <li>Элемент 3.2</li>
                        <li>Элемент 3.3</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
</section>