<section class="authors">

</section>
<section class="cakes">
    <div class="cakes-container">
        <div class="cakes__items">
            <div class="cakes__items__one">
                <picture class="cakes__items__one__img">
                    <source srcset="./img/section-authors-deserts/pie@1x.png" media="(max-width: 480px)">
                    <source srcset="./img/section-authors-deserts/pie@2x.png"
                      media="(min-width: 843px) and (max-width: 1199px)">
                    <source srcset="./img/section-authors-deserts/pie@3x.png" media="(min-width: 1200px)">
                    <img src="./img/section-authors-deserts/pie@1x.png" alt="View">
          
                  </picture>
                  <button class="cakes__items__one__btn"> <span>ТОРТИ</span></button>
            </div>
            <div class="cakes__items__two">
                <picture class="cakes__items__two__img">
                    <source srcset="./img/section-authors-deserts/choux@1x.png" media="(max-width: 480px)">
                    <source srcset="./img/section-authors-deserts/choux@2x.png"
                      media="(min-width: 843px) and (max-width: 1199px)">
                    <source srcset="./img/section-authors-deserts/choux@3x.png" media="(min-width: 1200px)">
                    <img src="./img/section-authors-deserts/choux@1x.png" alt="View">
          
                  </picture>
                  <button class="cakes__items__two__btn"> <span>ШУ</span></button>
            </div>
            <div class="cakes__items__three">
                <picture class="cakes__items__three__img">
                    <source srcset="./img/section-authors-deserts/cake@1x.png" media="(max-width: 480px)">
                    <source srcset="./img/section-authors-deserts/cake@2x.png"
                      media="(min-width: 843px) and (max-width: 1199px)">
                    <source srcset="./img/section-authors-deserts/cake@3x.png" media="(min-width: 1200px)">
                    <img src="./img/section-authors-deserts/cake@1x.png" alt="View">
          
                  </picture>
                <button class="cakes__items__three__btn"> <span>ТІСТЕЧКА</span></button>
            </div>
            <div class="cakes__items__four">
                <picture class="cakes__items__three__img">
                    <source srcset="./img/section-authors-deserts/pizza@1x.png" media="(max-width: 480px)">
                    <source srcset="./img/section-authors-deserts/pizza@2x.png"
                      media="(min-width: 843px) and (max-width: 1199px)">
                    <source srcset="./img/section-authors-deserts/pizza@3x.png" media="(min-width: 1200px)">
                    <img src="./img/section-authors-deserts/pizza@1x.png" alt="View">
          
                  </picture>
                  <button class="cakes__items__four__btn"> <span>ПІЦА</span></button>
            </div>
        </div>
    </div>
</section>