<section class="authors">
  <div class="authors-container">
    <div class="authors__item flex">
      <div class="authors__item__text">
        <h2>GRANN</h2>
        <p>АВТОРСЬКІ ДЕСЕРТИ</p>
      </div>
      <button class="authors__item__btn">ДО КАТАЛОГУ</button>
      <img src="/img/section-authors-deserts/back-cake@1x.png" alt="" class="authors__item__back">
      <div class="authors__item__social flex">
        <a href="http://telegram.org" target="_blank" rel="noopener noreferrer"><img
            src="./img/section-authors-deserts/telegram.png" alt="telegram"></a>

        <a href="http://www.facebook.com/?locale=uk_UA" target="_blank" rel="noopener noreferrer"><img
            src="./img/section-authors-deserts/facebook.png" alt="facebook"></a>
        <a href="http://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img
            src="./img/section-authors-deserts/instagram.png" alt="instagram"></a>

      </div>
    </div>
  </div>
</section>
<section class="cakes">
  <div class="cakes-container">
    <div class="cakes__items flex">
      <div class="cakes__items__one">
        <picture class="cakes__items__one__img">
          <source srcset="./img/section-authors-deserts/pie@1x.png" media="(max-width: 480px)">
          <source srcset="./img/section-authors-deserts/pie@2x.png" media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./img/section-authors-deserts/pie@3x.png" media="(min-width: 1200px)">
          <img src="./img/section-authors-deserts/pie@1x.png" alt="View">

        </picture>
        <button class="cssbuttons-io-button ">
          ТОРТИ
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>

      </div>
      <div class="cakes__items__two">
        <picture class="cakes__items__two__img">
          <source srcset="./img/section-authors-deserts/choux@1x.png" media="(max-width: 480px)">
          <source srcset="./img/section-authors-deserts/choux@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./img/section-authors-deserts/choux@3x.png" media="(min-width: 1200px)">
          <img src="./img/section-authors-deserts/choux@1x.png" alt="View">

        </picture>
        <button class="cssbuttons-io-button ">
          ШУ
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>

      </div>
      <br>
      <div class="cakes__items__three">
        <picture class="cakes__items__three__img">
          <source srcset="./img/section-authors-deserts/cake@1x.png" media="(max-width: 480px)">
          <source srcset="./img/section-authors-deserts/cake@2x.png" media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./img/section-authors-deserts/cake@3x.png" media="(min-width: 1200px)">
          <img src="./img/section-authors-deserts/cake@1x.png" alt="View">

        </picture>
        <button class="cssbuttons-io-button ">
          ТІСТЕЧКА
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>

      </div>
      <div class="cakes__items__four">
        <picture class="cakes__items__three__img">
          <source srcset="./img/section-authors-deserts/pizza@1x.png" media="(max-width: 480px)">
          <source srcset="./img/section-authors-deserts/pizza@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./img/section-authors-deserts/pizza@3x.png" media="(min-width: 1200px)">
          <img src="./img/section-authors-deserts/pizza@1x.png" alt="View">

        </picture>
        <button class="cssbuttons-io-button ">
          ПІЦА
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>

      </div>
    </div>
  </div>
</section>
<section class="bestseller">
  <div class="bestseller-container">
    <div class="bestseller__items">
      <div class="bestseller__items__title">
        <h2>Бестселлери</h2>
      </div>
      <div class="bestseller__items__arrow">
        <button>
          <img src="./img/section-authors-deserts/left.png" alt="">
        </button>
        <button>
          <img src="./img/section-authors-deserts/right.png" alt="">
        </button>
      </div>
      <div class="bestseller__items__cards flex">
        <div class="bestseller__items__cards__one">
          <picture class="bestseller__items__cards__one__img">
            <source srcset="./img/section-authors-deserts/mangopie@1x.png" media="(max-width: 480px)">
            <source srcset="./img/section-authors-deserts/mangopie@2x.png"
              media="(min-width: 843px) and (max-width: 1199px)">
            <source srcset="./img/section-authors-deserts/mangopie@3x.png" media="(min-width: 1200px)">
            <img src="./img/section-authors-deserts/mangopie@1x.png" alt="View">
          </picture>
          <div class="bestseller__items__cards__one__text flex">
            <div class="text">
              <h5>Мусовий торт “Манго-маракуйя”</h5>
              <p>1200 грн/ 3 кг</p>
            </div>
            <div class="busket"><button><a href="#"><img src="./img/section-authors-deserts/busket.png" alt=""></a>
              </button></div>
          </div>
        </div>
        <div class="bestseller__items__cards__one">
          <picture class="bestseller__items__cards__one__img">
            <source srcset="./img/section-authors-deserts/chocopie@1x.png" media="(max-width: 480px)">
            <source srcset="./img/section-authors-deserts/chocopie@2x.png"
              media="(min-width: 843px) and (max-width: 1199px)">
            <source srcset="./img/section-authors-deserts/chocopie@3x.png" media="(min-width: 1200px)">
            <img src="./img/section-authors-deserts/chocopie@1x.png" alt="View">
          </picture>
          <div class="bestseller__items__cards__one__text flex">

            <div class="text">
              <h5>Шоколадне тістечко брауні</h5>
              <p>300 грн/ 3шт</p>
            </div>
            <div class="busket"><button><a href="#"><img src="./img/section-authors-deserts/busket.png" alt=""></a>
              </button></div>
          </div>
        </div>
        <div class="bestseller-container__items__cards__one">
          <picture class="bestseller__items__cards__one__img">
            <source srcset="./img/section-authors-deserts/chouxpie@1x.png" media="(max-width: 480px)">
            <source srcset="./img/section-authors-deserts/chouxpie@2x.png"
              media="(min-width: 843px) and (max-width: 1199px)">
            <source srcset="./img/section-authors-deserts/chouxpie@3x.png" media="(min-width: 1200px)">
            <img src="./img/section-authors-deserts/chouxpie@1x.png" alt="View">
          </picture>
          <div class="bestseller__items__cards__one__text flex">

            <div class="text">
              <h5>Тістечка Шу</h5>
              <p>400 грн/ 6 шт</p>
            </div>
            <div class="busket "><button><a href="#"><img src="./img/section-authors-deserts/busket.png" alt=""></a>
              </button></div>
          </div>
        </div>
      </div>
      <button class="bestseller__items__btn">
        ПЕРЕГЛЯНУТИ ВЕСЬ АСОРТИМЕНТ
      </button>
    </div>
  </div>
</section>