<div class="container-instagram">
    <h2 class="instagram">Instagram</h2>
    <div class="grid flex">
        <img src="https://i.ibb.co/d5zpj1d/first-cake.png" alt="cake">
        <img src="https://i.ibb.co/VwjksKx/second-cake.png" alt="cake">
        <img src="https://i.ibb.co/LZ1DGH4/third-cake.png" alt="cake">
        <img src="https://i.ibb.co/PrtLY0f/fourth-cake.png" alt="cake">
        <img src="https://i.ibb.co/3kf6NqP/fifth-cake.png" alt="cake">
        <img src="https://i.ibb.co/vD3DSmx/woomen.png" alt="woomen">
    </div>
    <div class="inst-wrapper">


        <div class="button-section-instagram flex">
           <button class="inst-button"> Завітати на сторінку</button>
        </div>
    </div>
</div>
