<section class="authors">
  <div class="authors-container">
    <div class="authors__item flex">
      <div class="authors__item__text">
        <h2>GRANN</h2>
        <p>АВТОРСЬКІ ДЕСЕРТИ</p>
      </div>
      <button class="authors__item__btn">ДО КАТАЛОГУ</button>
      <img src="/src/img/section-authors-deserts/back-cake@1x.png" alt="" class="authors__item__back">
      <div class="authors__item__social flex">
        <a href="http://telegram.org" target="_blank" rel="noopener noreferrer"><img
            src="./img/section-authors-deserts/telegram.png" alt="telegram"></a>

        <a href="http://www.facebook.com/?locale=uk_UA" target="_blank" rel="noopener noreferrer"><img
            src="./img/section-authors-deserts/facebook.png" alt="facebook"></a>
        <a href="http://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img
            src="./img/section-authors-deserts/instagram.png" alt="instagram"></a>

      </div>
    </div>
  </div>
</section>

