<section class="cakes">
  <div class="cakes-container">
    <div class="cakes__items flex">
      <div class="cakes__items__one">
        <picture class="cakes__items__one__img">
          <source srcset="./img/section-authors-deserts/pie@1x.png" media="(max-width: 480px)">
          <source srcset="./img/section-authors-deserts/pie@2x.png" media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./img/section-authors-deserts/pie@3x.png" media="(min-width: 1200px)">
          <img src="./img/section-authors-deserts/pie@1x.png" alt="View">

        </picture>
        <button class="cssbuttons-io-button ">
          ТОРТИ
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>

      </div>
      <div class="cakes__items__two">
        <picture class="cakes__items__two__img">
          <source srcset="./img/section-authors-deserts/choux@1x.png" media="(max-width: 480px)">
          <source srcset="./img/section-authors-deserts/choux@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./img/section-authors-deserts/choux@3x.png" media="(min-width: 1200px)">
          <img src="./img/section-authors-deserts/choux@1x.png" alt="View">

        </picture>
        <button class="cssbuttons-io-button ">
          ШУ
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>

      </div>
      <br>
      <div class="cakes__items__three">
        <picture class="cakes__items__three__img">
          <source srcset="./img/section-authors-deserts/cake@1x.png" media="(max-width: 480px)">
          <source srcset="./img/section-authors-deserts/cake@2x.png" media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./img/section-authors-deserts/cake@3x.png" media="(min-width: 1200px)">
          <img src="./img/section-authors-deserts/cake@1x.png" alt="View">

        </picture>
        <button class="cssbuttons-io-button ">
          ТІСТЕЧКА
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>

      </div>
      <div class="cakes__items__four">
        <picture class="cakes__items__three__img">
          <source srcset="./img/section-authors-deserts/pizza@1x.png" media="(max-width: 480px)">
          <source srcset="./img/section-authors-deserts/pizza@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./img/section-authors-deserts/pizza@3x.png" media="(min-width: 1200px)">
          <img src="./img/section-authors-deserts/pizza@1x.png" alt="View">

        </picture>
        <button class="cssbuttons-io-button ">
          ПІЦА
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>

      </div>
    </div>
  </div>
</section>