<section class="bestseller">
  <div class="bestseller-container">
    <div class="bestseller__items">
      <div class="bestseller__items__title">
        <h2>Бестселлери</h2>
      </div>
      <div class="bestseller__items__arrow">
        <button class="bestseller__items__arrow__btn rightBtn">
          <img class="arrowImg" src="/img/section-authors-deserts/Arrow_left.svg" alt="" />
        </button>
        <button class="bestseller__items__arrow__btn leftBtn ">
          <a href="#">
            <img class="arrowImg" src="/img/section-authors-deserts/Arrow_right.svg" alt="" />
          </a>
        </button>
      </div>
      <div class="bestseller__items__cards flex">
        <div class="bestseller__items__cards__one">
          <source
            srcset="./img/section-authors-deserts/mangopie@1x.png"
            media="(max-width: 480px)"
          />
          <source
            srcset="./img/section-authors-deserts/mangopie@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)"
          />
          <source
            srcset="./img/section-authors-deserts/mangopie@3x.png"
            media="(min-width: 1200px)"
          />
          <img
            src="https://i.ibb.co/J5vqZCb/mangopie-1x.png"
            alt="mangopie-1x"
          />
          <div class="bestseller__items__cards__one__text flex">
            <div class="text">
              <h5>Мусовий торт “Манго-маракуйя”</h5>
              <p>1200 грн/ 3 кг</p>
            </div>
            <div class="busket">
              <button class="busket__button">
                <a href="#"><img src="https://i.ibb.co/kSmk74V/busket.png" alt=""/></a>
              </button>
            </div>
          </div>
        </div>
        <div class="bestseller__items__cards__one">
          <source srcset="https://ibb.co/DfJqXqh" media="(max-width: 480px)" />
          <source
            srcset="./img/section-authors-deserts/chocopie@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)"
          />
          <source
            srcset="./img/section-authors-deserts/chocopie@3x.png"
            media="(min-width: 1200px)"
          />
          <img
            src="https://i.ibb.co/S3dS0NS/chocopie-1x.png"
            alt="chocopie-1x"
          />
          <div class="bestseller__items__cards__one__text flex">
            <div class="text">
              <h5>Шоколадне тістечко брауні</h5>
              <p>300 грн/ 3шт</p>
            </div>
            <div class="busket">
              <button class="busket__button">
                <a href="#"><img src="https://i.ibb.co/kSmk74V/busket.png" alt=""/></a>
              </button>
            </div>
          </div>
        </div>
        <div class="bestseller-container__items__cards__one">
          <source
            srcset="./img/section-authors-deserts/chouxpie@1x.png"
            media="(max-width: 480px)"
          />
          <source
            srcset="./img/section-authors-deserts/chouxpie@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)"
          />
          <source
            srcset="./img/section-authors-deserts/chouxpie@3x.png"
            media="(min-width: 1200px)"
          />
          <img src="https://i.ibb.co/G2w7rh2/chouxpie-1x.png" alt="View" />
          <div class="bestseller__items__cards__one__text flex">
            <div class="text">
              <h5>Тістечка Шу</h5>
              <p>400 грн/ 6 шт</p>
            </div>
            <div class="busket">
              <button class="busket__button">
                <a href="#"><img src="https://i.ibb.co/kSmk74V/busket.png" alt=""/></a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="bestseller__items__btn">
        ПЕРЕГЛЯНУТИ ВЕСЬ АСОРТИМЕНТ
      </button>
    </div>
  </div>
</section>
