<div class="section-faq-container">
    <section class="section-faq">
        <h2 class="faq-title">
            Популярні запитання
        </h2>
        <div class="text-block">
            <ul class="faq-list">
                <li class="faq-list-item">
                    <div class="dropdown-header" onclick="toggleDropdown(this)">
                        <span>СКІЛЬКИ ЧАСУ ПОТРІБНО ДЛЯ ВИГОТОВЛЕННЯ ЗАМОВЛЕННЯ?</span>
                        <img class="arrow" src="https://i.ibb.co/NYSkB0s/Arrow.png" alt="arrow">
                    </div>
                    <div class="dropdown-content">
                        <p>Для виготовлення вашого замовлення нам потрібно від 3 до 4 днів. Ми рекомендуємо замовляти завчасно, щоб забезпечити найкращу якість і свіжість нашої продукції.</p>
                    </div>
                </li>
                <li class="faq-list-item">
                    <div class="dropdown-header" onclick="toggleDropdown(this)">
                        <span>ЧИ Є У ВАС ДОСТАВКА?</span>
                        <img class="arrow" src="https://i.ibb.co/NYSkB0s/Arrow.png" alt="arrow">
                    </div>
                    <div class="dropdown-content">
                        <p>Так, ми здійснюємо доставку. Замовлення потрібно зробити заздалегідь, щоб ми могли організувати доставку вчасно і зручно для вас.</p>
                    </div>
                </li>
                <li class="faq-list-item">
                    <div class="dropdown-header" onclick="toggleDropdown(this)">
                        <span>ЧИ ГОТУЄТЕ ВИ ТОРТИ З МАСТИКИ?</span>
                        <img class="arrow" src="https://i.ibb.co/NYSkB0s/Arrow.png" alt="arrow">
                    </div>
                    <div class="dropdown-content">
                        <p>Так, ми готуємо торти з мастики. Наші майстри створять для вас унікальний дизайн і забезпечать неперевершений смак.</p>
                    </div>
                </li>
                <li class="faq-list-item">
                    <div class="dropdown-header" onclick="toggleDropdown(this)">
                        <span>ЧИ МОЖНА ЇСТИ ВАШІ ТОРТИ ДІТЯМ ТА ВАГІТНИМ?</span>
                        <img class="arrow" src="https://i.ibb.co/NYSkB0s/Arrow.png" alt="arrow">
                    </div>
                    <div class="dropdown-content">
                        <p>Наші торти виготовляються з якісних і безпечних інгредієнтів, тому їх можна їсти як дітям, так і вагітним жінкам. Ми дбаємо про ваше здоров'я і задоволення.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>