<section class="bestseller">
  <div class="bestseller-container">
    <div class="bestseller__items">
      <div class="bestseller__items__title">
        <h2>Бестселлери</h2>
      </div>
      <div class="bestseller__items__arrow">
        <button>
          <img src="./img/section-authors-deserts/left.png" alt="">
        </button>
        <button>
          <img src="./img/section-authors-deserts/right.png" alt="">
        </button>
      </div>
      <div class="bestseller__items__cards flex">
        <div class="bestseller__items__cards__one">
          <picture class="bestseller__items__cards__one__img">
            <source srcset="./img/section-authors-deserts/mangopie@1x.png" media="(max-width: 480px)">
            <source srcset="./img/section-authors-deserts/mangopie@2x.png"
              media="(min-width: 843px) and (max-width: 1199px)">
            <source srcset="./img/section-authors-deserts/mangopie@3x.png" media="(min-width: 1200px)">
            <img src="./img/section-authors-deserts/mangopie@1x.png" alt="View">
          </picture>
          <div class="bestseller__items__cards__one__text flex">
            <div class="text">
              <h5>Мусовий торт “Манго-маракуйя”</h5>
              <p>1200 грн/ 3 кг</p>
            </div>
            <div class="busket"><button><a href="#"><img src="./img/section-authors-deserts/busket.png" alt=""></a>
              </button></div>
          </div>
        </div>
        <div class="bestseller__items__cards__one">
          <picture class="bestseller__items__cards__one__img">
            <source srcset="./img/section-authors-deserts/chocopie@1x.png" media="(max-width: 480px)">
            <source srcset="./img/section-authors-deserts/chocopie@2x.png"
              media="(min-width: 843px) and (max-width: 1199px)">
            <source srcset="./img/section-authors-deserts/chocopie@3x.png" media="(min-width: 1200px)">
            <img src="./img/section-authors-deserts/chocopie@1x.png" alt="View">
          </picture>
          <div class="bestseller__items__cards__one__text flex">

            <div class="text">
              <h5>Шоколадне тістечко брауні</h5>
              <p>300 грн/ 3шт</p>
            </div>
            <div class="busket"><button><a href="#"><img src="./img/section-authors-deserts/busket.png" alt=""></a>
              </button></div>
          </div>
        </div>
        <div class="bestseller-container__items__cards__one">
          <picture class="bestseller__items__cards__one__img">
            <source srcset="./img/section-authors-deserts/chouxpie@1x.png" media="(max-width: 480px)">
            <source srcset="./img/section-authors-deserts/chouxpie@2x.png"
              media="(min-width: 843px) and (max-width: 1199px)">
            <source srcset="./img/section-authors-deserts/chouxpie@3x.png" media="(min-width: 1200px)">
            <img src="./img/section-authors-deserts/chouxpie@1x.png" alt="View">
          </picture>
          <div class="bestseller__items__cards__one__text flex">

            <div class="text">
              <h5>Тістечка Шу</h5>
              <p>400 грн/ 6 шт</p>
            </div>
            <div class="busket "><button><a href="#"><img src="./img/section-authors-deserts/busket.png" alt=""></a>
              </button></div>
          </div>
        </div>
      </div>
      <button class="bestseller__items__btn">
        ПЕРЕГЛЯНУТИ ВЕСЬ АСОРТИМЕНТ
      </button>
    </div>
  </div>
</section>