<div class="container-instagram">
    <h2 class="instagram">Instagram</h2>
    <div class="grid flex">
        <img src="../img/section-instagram/first-cake.png" alt="cake">
        <img src="../img/section-instagram/second-cake.png" alt="cake">
        <img src="../img/section-instagram/third-cake.png" alt="cake">
        <img src="../img/section-instagram/fourth-cake.png" alt="cake">
        <img src="../img/section-instagram/fifth-cake.png" alt="cake">
        <img src="../img/section-instagram/woomen.png" alt="woomen">
    </div>
    <div class="inst-wrapper">


        <div class="button-section-instagram flex">
           <button class="inst-button"> Завітати на сторінку</button>
        </div>
    </div>
</div>