<div class="container-wishes">
    <section class="section-wishes">

        <div class="text-box">
            <h2 class="wishes-title">
                Давайте зробимо щось унікальне разом!
            </h2>
            <span class="wishes-description">
                Ви можете замовити свій власний рецепт десерту, який вам буде до вподоби. Заповніть заявку та я зв’яжусь
                з вами, аби обговорити деталі замовлення.
            </span>
        </div>

        <div class="card">
            <form class="form">
                <div class="group">
                    <input placeholder="" type="text" required="">
                    <label for="name">Ім'я</label>
                </div>
                <div class="group">
                    <input placeholder="" type="tel" id="email" name="tel" required="">
                    <label for="tel">Номер телефону</label>
                </div>
                <div class="group">
                    <textarea placeholder="" id="comment" name="comment" rows="5" required=""></textarea>
                    <label for="comment">Опишіть ваші побажання</label>
                </div>
                <button type="submit">Надіслати</button>
            </form>
        </div>

    </section>
</div>