@import './utils/base';
@import './utils/reset';
@import './utils/fonts-import';
@import './utils/variables';
@import './components/header';
@import './components/footer';
@import './components/section-about_me';
@import './components/section-authors_deserts';
@import './components/section-bestseller';
@import './components/section-cart-pop_up';
@import './components/section-cart-thank_you';
@import './components/section-catalog';
@import './components/section-delivery_and_payments';
@import './components/section-faq';
@import './components/section-gallery';
@import './components/section-instagram';
@import './components/section-why_grann';
@import './components/section-wishes';
@import './components/product_page';
